.Navbar-center{
    text-align: center;
    align-items: center;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    padding: 2px;
    border-radius: 5px;
}
.weather-row{
    display: flex;
    text-align: center;
}
.weather-row div{
    margin: 10px;
}
.Navbar-center{
    padding-top: 12%;
}
.weather-temp{
   font-size: 42px;
   color: white;
   padding: 1px%;
}
.weather-7day-temp{
    color: white;
}
.weather-center div{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f8ff
}
form{
    padding: 2px;
    border-radius: 10px;
    flex-direction: column;
    align-items: center;
    gap: 1px;
}
